name: archive-metro-daily-averages

on:
  workflow_dispatch:
  schedule:
    - cron: "50 19 * * *"

jobs:
  archive-metro-daily-averages:
    runs-on: ubuntu-latest
    steps:
    - name: Archive northeast states metro daily averages
      id: archive-northeast-states-metro-daily-averages
      run: |
        STATES=("CT" "ME" "MA" "NH" "NJ" "NY" "PA" "RI" "VT")
        for STATE in "${STATES[@]}"; do
            RESPONSE=$(curl -s -D - -o /dev/null -I "https://web.archive.org/save/https://gasprices.aaa.com/?state=$STATE")
            URL=$(echo "$RESPONSE" | grep -i 'Location: http' | awk '{print $2}')
            echo "Archived URL: $URL"
        done

    - name: Archive midwest states metro daily averages
      id: archive-midwest-states-metro-daily-averages
      run: |
        STATES=("IL" "IN" "IA" "KS" "MI" "MN" "MO" "NE" "ND" "OH" "SD" "WI")
        for STATE in "${STATES[@]}"; do
            RESPONSE=$(curl -s -D - -o /dev/null -I "https://web.archive.org/save/https://gasprices.aaa.com/?state=$STATE")
            URL=$(echo "$RESPONSE" | grep -i 'Location: http' | awk '{print $2}')
            echo "Archived URL: $URL"
        done

    - name: Archive south states metro daily averages
      id: archive-south-states-metro-daily-averages
      run: |
        STATES=("AL" "AR" "DE" "DC" "FL" "GA" "KY" "LA" "MD" "MS" "NC" "OK" "SC" "TN" "TX" "VA" "WV")
        for STATE in "${STATES[@]}"; do
            RESPONSE=$(curl -s -D - -o /dev/null -I "https://web.archive.org/save/https://gasprices.aaa.com/?state=$STATE")
            URL=$(echo "$RESPONSE" | grep -i 'Location: http' | awk '{print $2}')
            echo "Archived URL: $URL"
        done

    - name: Archive west states metro daily averages
      id: archive-west-states-metro-daily-averages
      run: |
        STATES=("AK" "AZ" "CA" "CO" "HI" "ID" "MT" "NV" "NM" "OR" "UT" "WA" "WY")
        for STATE in "${STATES[@]}"; do
            RESPONSE=$(curl -s -D - -o /dev/null -I "https://web.archive.org/save/https://gasprices.aaa.com/?state=$STATE")
            URL=$(echo "$RESPONSE" | grep -i 'Location: http' | awk '{print $2}')
            echo "Archived URL: $URL"
        done
